
  .content {
    text-align: center;
    width: 375px;
    height: 812px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 349px;
    height: 500px; 
    padding: 13px 0px;
  }

  .Bbtn{
    display: flex;
    width: 349px;
    height: 50px;
    padding: 13px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    margin: 16px 0;
  }

  #nextBtn{
    background-color:#0D53FC ;
  }

  #skipBtn{
    background-color:#FFF ;
    color:#0D53FC ;
  }