.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

#backIcon {
    font-style: normal;
    font-size: 20px;
    color: black;
}

#title {
    font-size: 16px;
}

#saveButton {
    border: none;
    background: none;
    color: #0D53FC;
}


.image-container {
    position: relative;
    display: inline-block;
}

.edit-button {
    position: absolute;
    bottom: 4px;
    right: 0;
    background-color: white;
    color: #0D53FC;
    border: none;
    height: 32px;
    width: 32px;
    padding: 5px 10px;
    border-top-left-radius: 6px;
}

/* Style for the image */
.profile-image {
    border-radius: 6px;
    height: 112px;
    width: 112px;
    border: 4px solid white;
}

.editForm {
    display: inline-block;
}



form {
    max-width: 80%;
    margin: 0 auto;
    height: 50dvh;

}

label {
    display: block;
    margin-bottom: 1dvh;
    font-size: 16px;
    font-weight: 400;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 95%;
    height: 48px;
    margin-bottom: 9px;
    border: 1px solid #DEDEDE;
    border-radius: 6px;

}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Style the placeholders */
::placeholder {
    color: #999;
    margin-left: 10px;
}

/*=Add spacing between form elements */
.form-element {
    margin-bottom: 1dvh;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-section {
    background-color: #ebebfe;
    width: 90%;
    height: 15dvh;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-section img {
    width: 30%;
    position: relative;
    left: 0;
}