.doctor-details-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    align-items: start;
    background-color: #f9f9fe;
    padding: 13px;
}
.back-btn-doc-details {
    background-color: #f9f9fe;
    border: none;
}
.top-bar {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #f9f9fe;
}
.back-icon {
    width: 24px;
    height: 36px;
    /* padding: 4px 8px 4px 7px; */
}
.doc-profile {
    /* padding: 8px 13px; */
    height: 178px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 26px;
}
.doc-img-container {
    width: 108px;
    height: 162px;
    border-radius: 6px;
    background-color: #333;
}
.doc-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.doc-info-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
    gap: 26px;
}
.doc-name-profession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 48px;
}
.doc-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
}
.doc-profession {
    color: #aaaaaa;
}
.doc-rating-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    height: 88px;
    width: 117px;
    gap: 16px;
}
.rating {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.rating-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.rate {
    color: #0f0f0f;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    display: flex;
    gap: 8px;
}
.num-of-ratings {
    color: #aaaaaa;
}
.experience {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
}
.experience-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.exp {
    color: #aaaaaa;
}
.experience-icon {
    width: 36px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid var(--color-light-grey-dedede, #dedede);
    background: var(--neutral-white-ffffff, #fff);
    padding: 8px;
}
.doc-about {
    width: 100%;
    /* padding: 0 13px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}
.profile-doctor {
    color: #0f0f0f;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.schedule-container {
    height: 140px;
    width: 100%;
    /* padding: 13px; */
}
.schedule-title {
    color: #0f0f0f;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.schedule-container .available-times{
    display: none;
}
.schedule-container .book-appointment-button{
    display: none;
}
.reviews-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 16px;
}
.reviews-top-bar {
    width: 100%;
    height: 22px;
    display: flex;
    /* padding: 13px; */
    justify-content: space-between;
    align-items: center;
}
.reviews-title {
    color: #0f0f0f;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.reviews-see-all {
    color: var(--color-light-blue-0-d-53-fc, #0d53fc);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}
.reviews {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    box-shadow: 0 0 2px black;
    padding: 16px;
    gap: 16px;
    border-radius: 6px;
    border: 1px solid var(--color-light-grey-dedede, #dedede);
    background: #fff;
}
.review-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.review-writer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.reviewer-img {
    width: 48px;
    height: 48px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
        0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.reviewer-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.reviewer-title {
    color: var(--neutral-black-0-f-0-f-0-f, #0f0f0f);

    /* Inter/Semi Bold - 16 */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.reviewer-subtitle {
    color: var(--color-light-grey-aaaaaa, #aaa);

    /* Inter / Regular 14 */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.review-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 41px;
    height: 17px;
}
.rating-txt {
    color: var(--color-light-grey-aaaaaa, #aaa);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.review-txt {
    color: #0f0f0f;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.no-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
