.login-register-container {
    width: 375px;
    height: 812px;
    background-color: #f9f9fe;
    display: flex;
    flex-direction: column;
    padding: 13px;
    border: 1px solid black;
}
.top-buttons-container {
    width: 100%;
    height: 58px;
    padding: 13px;
    position: relative;
}
.login-register-btn {
    width: 167px;
    height: 33px;
    top: 12px;
    left: 24px;
    display: flex;
    gap: 8px;
    position: relative;
}
.login-register-btn .btn {
    height: 33px;
    border-radius: 6px;
    border: 1px;
    padding: 8px 16px;
    background-color: #fff;
    color: #0d53fc;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
#login-btn {
    width: 70px;
}

.btn.active {
    border: 1px solid #0d53fc;
}
.btn.inactive{
    color: #8d8d8d;
    background-color: #f9f9fe;
}
.login-form-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
   
}
#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0 13px;
    
}
form input[type='email'],input[type='password'],input[type='text'] {
    height: 48px;
    color: black;
    background-color: #f9f9fe;
    border-radius: 6px;
    border: 1px solid #cdcaca;
    width: 100% !important;
    
}

.login-form-container h1 {
    position: relative;
    margin-left: 24px;
    text-align: left;
    color: #0F0F0F;
    width: 96px !important;
    height: 154px !important;
    
}
form input[type="submit"] {
    height: 48px;
    background-color: #0d53fc;
    border-radius: 6px;
    border: none;
}
#login-form input[type="submit"]:hover {
    background-color: #0b48d4;
}

.register-form-container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
}

#register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
    width: 100% !important;
    margin: 0;
    padding: 0 13px;
}
.forgot-password{
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    color: #0d53fc;
    text-decoration: none;
}
.register-form-container h1{
    position: relative;
    margin-left: 24px;
    text-align: left;
    color: #0F0F0F;
    width: 96px !important;
    height: 154px !important;
}

.invalidInput{
    background-color: rgba(155,0, 0, 0.3) !important;
}

.error-msg{
    text-align: center;
    width: 100% !important;
    color: rgba(155,0, 0, 0.6);
}

.input-container{
    width: 100% !important;
    height: 48px;
    position: relative;

}
.input-container .icon{
    width: 24px ;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 30%;
    color: #8d8d8d;
}