.onBoardingImgs {
    display: flex;
    margin: 0 auto;
    height: 40vh;
    width: 80%;
    border-radius: 5%;
  }

  .title {
    margin-left: 50px;
    width: 70%;
    font-size: 30px;
    padding: 20px;
    border-radius: 5px;
    font-size: 33px;
  }
  .description {
    margin: 20px auto;
    width: 80%;
    font-size: 25px;
    margin: 20px auto;
  }